*               text=auto

# Shell scripts should use lf
/src/.pride*    text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf
*.ps1           text eol=crlf

